{% extends 'base/master.html'%}
{% load static %}
{% block content %}

<div class="main-container">
    <div class="row">
        <h2 style="text-align: center;">{{blog.headline}}</h2>
    </div>
</div>
<div class="thumbnail">
    <a href="#" target="_blank">
        <img src="{{blog.image.url}}" alt="Image related to title" style="border-radius: 5%; width:450px;height:350px;">
    </a>
    <br />
    <h5 style="text-align: center;">{{blog.sub_headline}}</h5>
    <br />
    <div class="main-container">
        <p>By:Abash</p>
        <h5>{{blog.body|linebreaks}}</h5>
    </div>
</div>


{% endblock %}