{% extends 'base/master.html'%}
{% load static %}
{% block content %}

<section class="s1">
    <div class="main-container">
        <h3 style="text-align: center;">All Projects</h3>
        <div class="post-wrapper">
            {% for p in allprojects %}
            <div>
                <div class="post">
                    <a href="{% url 'project' p.id %}"><img class="thumbnail" src="{{p.image.url}}"></a>
                    <div class="post-preview">
                        <a href="{% url 'project' p.id %}">
                            <h3 class="post-intro" style="text-align: center">{{p.title}}</h3>
                        </a>
                        <a href="{% url 'project' p.id %}">
                            <p class="post-title">{{p.subtitle|truncatewords:5}}</p>
                        </a>

                        {% if user.is_authenticated %}
                        <h5><a href="#">Edit</a><br><br>
                            <a href="#">Delete</a>
                        </h5>
                        {% endif %}

                        <h5 style="text-align: center;"><a href="{% url 'project' p.id %}">View Project</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Opps No Projects Found !!</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}